header {
  background: $color-gallery;
  position: relative;
  @include rem(height, 140px);
  @include rem(margin-bottom, 40px);
  .logo{
    float: left;
  }
  .switcher {
    position: absolute;
    top: 0px;
    right: 20px;
    list-style: none;
    li {
      display: inline-block;
      a {
        color: white;
      }
    }
  }
}
