aside {
  background: $color-olivine;
  padding: 10px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      background: white;
      border-top: 2px solid white;
      padding: 10px;
      &:first-child{
        background: $color-kidnapper;
      }
      h3{
        margin: 0;
      }
      div {
        p + p{
          .js &{
            display: none;
          }
        }
        @include clearfix;
        .more {
          @include hover-link;
          float: right;
        }
      }
    }
  }
}
