/* --- color definitions --- */
/**
 @group color
 @link http://chir.ag/projects/name-that-color/
 */
/** @group color */
$color-neptune : #8dbcbf;
/** @group color */
$color-mystic : #d1e4e5;
/** @group color */
$color-aqua-haze : #e8f2f2;
/** @group color */
$color-olivine : #aac17c;
/** @group color */
$color-kidnapper : #dde6cb;
/** @group color */
$color-kidnapper2 : #eef3e5;
/** @group color */
$color-valencia : #da4948;
/** @group color */
$color-mandys-pink : #f0b6b6;
/** @group color */
$color-we-peep : #f8dbda;
/** @group color */
$color-casablanca : #f5b255;
/** @group color */
$color-banana-mania : #fbe0bb;
/** @group color */
$color-old-lace : #fdf0dd;
/** @group color */
$color-tundora : #4e4e4e;
/** @group color */
$color-silver : #c4c4c4;
/** @group color */
$color-alto : #d9d9d9;
/** @group color */
$color-gallery : #ececec;

